<h2>Admin edit <%= @lesson.title %></h2>

<%= form_for @lesson, url: admin_lesson_path(@lesson) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, :class => "form-control" %>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, :class => "form-control" %>
    <%= f.submit :class => "btn btn-default" %>
  </div>
<% end %>