<h1 class="text-center">Admin Lessons</h1>

<%= link_to "Create", new_admin_lesson_path, :class => "btn btn-warning" %>
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.title %></td>
        <td><%= lesson.description %></td>
        <td><%= link_to "Edit", edit_admin_lesson_path(lesson), :class => "btn btn-info" %></td>
        <td><%= link_to "Del", admin_lesson_path(lesson), method: :delete, :class => "btn btn-danger", data: { confirm: "Delete " + lesson.title + " ?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>