<h1><%= @user.name %>的個人簡介</h1>
current level：<%= @user.level %>
自我介紹：<%= @user.intro %>
<div class="picture">
    <%= image_tag @user.image_url(:thumb) %>
</div>
<%= link_to 'Edit', edit_user_path(@user) %>