<p id="notice"><%= notice %></p>

<p>
  <strong>Calendar Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Calendar Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @event.end_time %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-info btn-xs" %> |
<%= link_to 'Back', events_path, class: "btn btn-default btn-xs" %>
