  <ul class="courses_list">
    <div class="row">
      <% @courses.each do |course| %>
        <%= link_to course_path(course, lesson: course.lessons.first) do %>
          <div class="col-sm-4">
            <div class="course_box course_<%= course.id %>">
                <li class="text-center">
                  <div class="index_intro">
                    <h2><%= course.title %></h2>
                    <p><%= course.description %></p>
                  </div>
                  <div class="course_info text-muted">
                    <div class="total_hours"><span>Total Hours : 30 hrs</span></div>
                  </div>
                </li>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </ul>



  <script>


    <% if current_user.level === "Entry Level" %>
      $('.course_<%= @courses.second.id %> ').closest("a").preventDefault()
      $('.course_<%= @courses.last.id %> ').preventDefault()
      
    <% else %>
      
    <% end %>
  
  </script>