  <ul class="courses_list">
    <div class="row">
      <% @courses.each do |course| %>
        <%= link_to course_path(course, lesson: course.lessons.first) do %>
          <div class="col-sm-4 ">
            <div class="course_box" id="course_<%= course.id %>">
              <li class="text-center">
                <div class="bg_color"></div>
                <div class="index_intro">
                  <h2><%= course.title %></h2>
                </div>
                <div class="course_info text-muted">
                  <div class="total_hours" style="transition: .2s;"><span>Total Hours : 12 hrs</span></div>
                </div>
                <i class="access"></i>
              </li>
              <div class="course_intro text-center">
                <p class="intro_text"></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </ul>

  <script>
    $("a:first-child").find(".course_intro p").text("<%= Course.first.description %>")
    $("a:nth-child(2)").find(".course_intro p").text("<%= Course.second.description %>")
    $("a:last-child").find(".course_intro p").text("<%= Course.last.description %>")
    
    
  
  </script>