<div class="course_show_box">
  <h2><%= @course.title %></h2>
</div>

<%= link_to 'Back', courses_path, class: "btn btn-default btn-xs" %>

<hr>

<div class="row">
  <div class="col-sm-3 course_left_pannel">
    <h2>Lessons</h2>
    <hr>
    <ul>
      <% @lessons.each do |lesson| %>
        <div class="lessons_box">
          <%= link_to course_path(@course, lesson: lesson) do %>
            <li><%= lesson.title %></li>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-9 course_right_pannel"> 
    <ul>
      <% @lesson.units.each do |unit| %>
        <%= link_to lesson_unit_path(@lesson, unit) do %>
          <%= unit.title %><br>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>