<%= link_to 'Back', courses_path, class: "btn btn-default btn-xs" %>

<div class="course_show_box">
  <h2><%= @course.title %></h2>
</div>

<hr>

<div class="row">
  <div class="col-sm-3">
    <div class="course_left_pannel">
      <h2>Lessons</h2>
      <hr>
      <ul>
        <% @lessons.each do |lesson| %>
          <%= link_to course_path(@course, lesson: lesson) do %>
            <div class="lessons_box">
              <li><%= lesson.title %></li>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="course_right_pannel"> 
      <ul>
        <li class="row">
          <% @lesson.units.each do |unit| %>
            <div class="col-sm-3">
              <%= link_to lesson_unit_path(@lesson, unit) do %>
                <div class="unit_view">
                  <div id="unit_<%= unit.id %>" class="unit_view_top">
                  </div>
                  <div class="unit_view_bot text-center">
                    <p><%= unit.title %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>



<script>

<% if @lesson == Course.first.lessons.first %>

    $('#unit_<%= @lesson.units.first.id %>').css({
      "background-image": "url('https://i.imgur.com/Cnx8I6i.jpg')",
      "background-size": "cover",
      "background-position": "center"
      })
    $('#unit_<%= @lesson.units.second.id %>').css({
      "background-image": "url('https://i.imgur.com/XxPxiag.jpg')",
      "background-size": "cover",
      "background-position": "center"
      })
    $('#unit_<%= @lesson.units.last.id %>').css({
      "background-image": "url('https://i.imgur.com/HAFPKJt.jpg')",
      "background-size": "cover",
      "background-position": "center"
      })
  <% end %>

</script>