<%= link_to 'Back', courses_path, class: "btn btn-default btn-xs" %>

<div class="course_show_box">
  <h2><%= @course.title %></h2>
</div>

<hr>

<div class="row">
  <div class="col-sm-3">
    <div class="course_left_panel">
      <h2>Lessons</h2>
      <hr>
      <ul>
        <% @lessons.each do |lesson| %>
          <%= link_to course_path(@course, lesson: lesson) do %>
            <div class="lessons_box">
              <li><%= lesson.title %></li>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="course_right_panel"> 
      <ul>
        <li class="row">
          <% @lesson.units.each do |unit| %>
            <div class="col-sm-3">
              <%= link_to lesson_unit_path(@lesson, unit) do %>
                <div class="unit_view">
                  <% if unit.image.present? %>
                    <div class="unit_view_top" style="background: url(<%= unit.image_url %>);background-size: cover; background-position: center;">
                    </div>

                  <% end %>
                  <div class="unit_view_bot text-center">
                    <p><%= unit.title %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>