<%= link_to 'Back', course_path(@course, lesson: @course.lessons.first), class: "btn btn-default btn-xs" %>

<h3><%= @lesson.title %></h3>
<hr>

<div class="row">
  <div class="col-sm-3">
    <div class="unit_left_panel">
    <h2>Units</h2>
    <hr>
      <% @lesson.units.each do |t| %>
        <%= link_to lesson_unit_path(@lesson, t) do %>
          <div class="unit_box">
            <%= t.title %><br>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="unit_right_panel">
      <h4><%= @unit.title %></h4>
      <p><%= @unit.description %></p>
      <div class="video_view">
        <iframe width="100%" height="auto" src="<%= @unit.video %>" frameborder="0" allowfullscreen class="video"></iframe>
      </div>
      <br>

      <% unless @unit.id == Unit.first.id %>
        <%= link_to("Previous Lesson", lesson_unit_previous_lesson_path(@lesson, unit_id: @unit), class: "btn btn-primary btn-xs") if @unit.is_first? %>
      <% end %>
      <%= link_to("Previous", lesson_unit_previous_unit_path(@lesson, unit_id: @unit), class: "btn btn-primary btn-xs") if @unit.not_first %>
      <%= link_to("Next", lesson_unit_next_unit_path(@lesson, unit_id: @unit), class: "forbid btn btn-xs", id: "next_btn") if @unit.not_last %>
      <% unless @unit.id == Unit.last.id %>
        <%= link_to("Next Lesson", lesson_unit_next_lesson_path(@lesson, unit_id: @unit), class: "forbid btn btn-xs", id: "next_btn") if @unit.is_last? %>
      <% end %>
    </div>
  </div>
</div>


<script>

      <% if UnitCompleted.where(unit_id: @unit, user_id: current_user).empty? %>

        setTimeout(function() {
          $('#next_btn').removeClass('forbid')
          $('#next_btn').addClass('btn-primary')
        }, 5000)

      <% else %>
        $('#next_btn').removeClass('forbid')
        $('#next_btn').addClass('btn-primary')

      <% end %>

</script>