<h2>Admin users</h2>

<%# total progress %>



<%# students %>

<div id="dashboard" class="trainees_status">
  <div class="row">
    <div class="col-sm-10">
      <div class="dashboard_left">
        <% @users.each do |user| %>
          <div class="col-sm-4">
            <div class="user_info">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-12" id="user_top">
                      <div class="picture">
                        <%= image_tag user.image_url(:thumb) %>
                      </div>
                      <div class="who_level">
                        <h4><%= user.name%></h4>
                        <% if user.level == "Entry Level" %>
                          <div class="level_status entry">
                            <span><%= user.level %></span>
                          </div>
                        <% elsif user.level == "Medium Level" %>
                          <div class="level_status medium">
                            <span><%= user.level %></span>
                          </div>
                        <% elsif user.level == "Advanced Level" %>
                          <div class="level_status advanced">
                            <span><%= user.level %></span>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <span><%= user.email %></span>
                        <span><%= user.level %></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <p>progress</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="dashboard_right">
      
      </div>
    </div>

  </div>
</div>