<h2>Admin users</h2>

<%# total progress %>



<%# students %>

<div id="dashboard" class="trainees_status">
  <div class="row">
    <div class="col-sm-10">
      <div class="dashboard_left">
        <% @users.each do |user| %>
          <div class="col-sm-6">
            <div class="user_info">
              <div class="row">
                <div class="col-sm-12" id="user_top">
                  <div class="row">
                    <div class="col-sm-6" id="user_left">
                      <div class="picture">
                        <%= image_tag user.image_url(:thumb) %>
                      </div>
                      <div class="who_level">
                        <h4><%= user.name%></h4>
                        <%= link_to courses_path do %>
                          <% if user.level == "Entry Level" %>
                            <div class="level_status entry">
                              <span>Entry</span>
                            </div>
                          <% elsif user.level == "Medium Level" %>
                            <div class="level_status medium">
                              <span>Medium</span>
                            </div>
                          <% elsif user.level == "Advanced Level" %>
                            <div class="level_status advanced">
                              <span>Advanced</span>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6" id="user_right" >
                        <span><%= user.email %></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12" id="user_bot">
                  <div class="user_progress">
                    <div class="row">
                      <div class="progress_left col-sm-6">
                        <p>Course</p>
                        <span class="pull-right"><%= user.unit_completeds.size %></span>
                      </div>
                      <div class="progress_right col-sm-6">
                        <p>Pending</p>
                        <span class="pull-right">99</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="dashboard_right">
      
      </div>
    </div>

  </div>
</div>