<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h2>Students management</h2>
  </div>
  <div class="col-sm-1"></div>
</div>


<hr>
<%# total progress %>

<%# students %>

<div id="dashboard" class="trainees_status">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="dashboard_left">
        <% @users.each do |user| %>
          <div class="col-sm-6">
            <div class="user_info" id="<%= user.id %>_info">
              <div class="row">
                <div class="col-sm-12" id="user_top">
                  <div class="row">
                    <div class="col-sm-6" id="user_left">
                      <div class="picture">
                        <% if user.image.present? %>
                          <%= image_tag user.image_url(:thumb) %>
                        <% else %>
                           <img class="default_avatar" src="https://i.imgur.com/IQUU8my.png" alt="avatar" height="80px" width="80px">
                        <% end %>
                      </div>
                      <div class="who_level">
                        <h4><%= user.name%></h4>

                        
                          <!-- Trigger the modal with a button -->
                          <% if user.level == "Entry Level" %>
                            <button type="button" class="btn entry btn-xs" style="color:white;" data-toggle="modal" data-target="#myModal_<%= user.id %>"><%= user.level %></button>
                          <% elsif user.level == "Medium Level" %>
                            <button type="button" class="btn medium btn-xs" style="color:white;" data-toggle="modal" data-target="#myModal_<%= user.id %>"><%= user.level %></button>
                          <% else %>
                            <button type="button" class="btn advanced btn-xs" style="color:white;" data-toggle="modal" data-target="#myModal_<%= user.id %>"><%= user.level %></button>
                          <% end %>

                          <!-- Modal -->
                          <div class="modal fade" id="myModal_<%= user.id %>" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                  <%= form_for user, url: admin_user_path(user), method: :patch do |n| %>
                                    <%= n.collection_select(:course_id, Course.all, :id, :title) %>
                                    <%= n.submit class: "btn btn-success btn-xs" %>
                                  <% end %>
                                </div>

                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                              
                            </div>
                          </div>


                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6" id="user_right" >
                        <span><%= user.email %></span>
                        <h3 class="hidden" id="ready_<%= user.id %>">READY !</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12" id="user_bot">
                  <div class="user_progress">
                    <div class="row">
                      <div class="progress_left col-sm-6">
                        <p>Finished</p>
                        <span class="pull-right"><%= user.current_course_units_completed %></span>
                      </div>
                      <div class="progress_right col-sm-6">
                        <p>Unfinished</p>
                        <span class="pull-right"><%= user.unit_count - user.current_course_units_completed %></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="dashboard_right">
      
      </div>
    </div>

  </div>
</div>


<script>
  <% @users.each do |user| %>
    <% if (user.unit_count - user.current_course_units_completed == 0) %>
      $("#ready_<%= user.id %>").removeClass('hidden')
    <% end %>
  <% end %>

</script>
