<nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="https://i.imgur.com/NdnDzAQ.png" height="60px" />
            </a>
          </div>

          <ul class="nav navbar-nav navbar-left">
            <% if current_user %>
              <% if current_user.name.nil? %>
                <li><a class="fa fa-users fa-2x" href="<%= edit_user_path(current_user) %>"></a></li>
              <% else %>
                <% if current_user.role == "admin" %>
                  <li><a class="fa fa-users fa-2x" href="<%= admin_users_path %>"></a></li>
                <% else %>
                  <li><a class="fa fa-users fa-2x" href="<%= trainees_users_path %>"></a></li>
                <% end %>
              <% end %>
            <% else %>
              <li><a class="fa fa-users fa-2x" href="<%= trainees_users_path %>"></a></li>
            <% end %>
            <li><a class="fa fa-calendar-o fa-2x" href="<%= activities_path %>"></a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">

              <% if current_user %>
                  <li class="greeting">Hi ! <%= current_user.name.nil? ? current_user.email : current_user.name %></li>
                <% if current_user.role == 'admin' %>
                  <li class="admin_btn"><%= link_to '', admin_courses_path, class: "fa fa-cog fa-2x" %></li>
                <% end %>
              <% end %>


            <li class="dropdown">
              <% if current_user %>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">

                  <div class="profile">
                    <% if current_user.image.present? %>
                      <%= image_tag current_user.image_url(:profile) %>  
                    <% else %>
                      <img src="https://i.imgur.com/IQUU8my.png" alt="avatar" height="60px">
                    <% end %>
                  </div>

                <ul class="dropdown-menu">
                  <% if current_user.name.nil? %>
                    <li><%= link_to "Profile", edit_user_path(current_user) %></li>
                  <% else %>
                    <li><%= link_to 'Profile', user_path(current_user) %></li>
                  <% end %>
                  <li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
                  <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
                </ul>

              <% else %>
                <div class="user_account">
                  <ul>
                    <li><%= link_to " Sign up", "#sign_up", "data-toggle" => "modal", :class => "fa fa-sign-in" %></li>
                    <li><%= link_to " Login", "#login", "data-toggle" => "modal", :class => "fa fa-user-circle" %></li>
                  </ul>
                </div>
              <% end %>
            </li>
          </ul>

      </div>
      </nav>