<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://i.imgur.com/mJBO2jz.png">
    <title>My Taiwan Tour Training</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <%= render "common/navbar" %>

      <div class="container">
        <div id="my_current_level" class="hidden"><%= current_user.level if current_user %></div>
        <%= yield %>
          <% if current_user and current_user.role == "admin" %>
            <div id='remote_container'></div>
          <% end %>
      </div>  
      <%= render "common/footer" %>
    </div>
  </body>
</html>