<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://i.imgur.com/mJBO2jz.png">
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <%= render "common/navbar" %>

      <div class="container">
       
        <%= yield %>
      </div>  
      <%= render "common/footer" %>
    </div>
  </body>
</html>